@import "tailwindcss";

.dark-blue {
    color: #12276F;
}

.bg-main-blue {
    background-color: #465594;
}

.bg-main-orange {
    background-color: #F38719;
}

.bg-secondary-blue {
    background-color: #637ED6;
}