@import "tailwindcss";

.dark-blue {
    color: #12276F;
}

.dark-white {
    color: #696969
}

.main-gray {
    color: #909090;
}

.main-red {
    color: #BE0000;
}

.bg-light-red {
    background-color: #E6BDBD;
}

.border-dark-blue {
    border-color: #12276F;
}

.bg-milky {
    background-color: #EBEBEB;
}

.bg-main-blue {
    background-color: #465594;
}

.bg-main-orange {
    background-color: #F38719;
}

.bg-secondary-blue {
    background-color: #637ED6;
}

.dark-green {
    color: #208900;
}

.bg-light-green {
    background-color: #BDE6C6;
}

.main-green {
    color: #278F07;
}

.main-border {
    border: 1px solid #BDBDBD;
}

.secondary-border {
    border: 1px solid #B1B1B1;
}

.main-shadow {
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.phone-entry:focus {
    border: 3px solid #465594;
}
th, td {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #BDBDBD;
    font-weight: bold;
}
td {
    color: #555555;
}
tbody tr:nth-child(odd) td {
    background-color: #dadada79;
}